body {
  margin: 0;
  padding: 0;
  background-color: #888;
}

.mapboxgl-map {
  min-height: 500px;
  padding: 0px;
}

.stopplacard {
  border: 6px solid #fff;
  background-color: #0087bd;
}

h1.stopname {
  font-size: 36pt;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.instructions {
  font-weight: 300;
  font-size: 10pt;
  font-style: italic;
  float: left;
  color: white;
  padding: 12px;
  vertical-align: middle;
}

.protoui {
  border: 1px solid white;
}