body {
  margin: 1em;
  padding: 0;
  background-color: #fff;
}

.cssgrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-gap: 12px; */
  grid-auto-columns: minmax(100px, auto);
}

.stop-placard {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.olli-logo-div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.stop-name-div {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.arrival-list, .clock-weather, .asl-screen, .info-win {
  grid-column: 1 / 2;
  padding: 24px 12px 0 12px;
  border-left: 4px solid #444444;
  /* border-right: 4px solid #444444; */
}

.info-win {
  min-height: 384px;
}

.pois-nearby {
  grid-column: 1 / 3;
  border: 4px solid #444444;
}

.mapboxgl-map {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 48pt;
}

.stop-placard, .olli-logo-div, .stop-name-div {
  color: white;
  background-color: #046b99;
  padding: 12px;
}

.arrival-list {
  border-top: 4px solid #444444;
}
.clock-weather {
  padding-bottom: 24px;
}

.weather img {
  height: 75px;
  width: 75px;
  position: relative;
  top: -12px;
}

.weather .forecast {
  vertical-align: top;
}

.forecast table {
  width: 100%;
}
tr.small {
  font-size: 75%;
}
.forecast td {
  vertical-align: top;
}

.olli-logo {
  height: 36px;
  padding-right: 72px;
}

.mapboxgl-map {
  min-height: 600px;
  border: 6px solid #046b99;
}

.instructions {
  font-weight: 300;
  font-size: 10pt;
  font-style: italic;
  float: left;
  color: white;
  padding: 12px;
  vertical-align: middle;
}

.mapboxgl-popup-content {
  background-color: coral;
  font-size: 18pt;
  border-radius: 18px;
}

.poi-images {
  white-space: nowrap;
  overflow-y: scroll;
}
.poi-images>img {
  width: 256px;
  margin: 0 4px;
}