body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 36pt;
  font-weight: 700;
}

.mapboxgl-map {
  min-height: 600px;
  border: 6px solid #ddd;
}

.stopplacard {
  border: 12px solid #444;
  background-color: #0087bd;
  border-radius: 12px;
  padding: 12px;
}

.stop-panel {
  color: #444;
  background-color: #fff;
  border: 6px solid #ddd;
  border-radius: 12px;
  padding: 6px 12px;
  margin-bottom: 4px;
  text-align: center;
  height: calc(100% - 4px);
}

.stop-panel h2 {
  color: #444;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4px;
}


button.bx--btn--secondary {
  display: inline-flex;
  background-color: white;
  border-color: #0087bd;
  border-radius: 8px;
  margin: 2px 4px;
}
button>img {
  padding-left: 4px;
}

button.btn--bigaction {
  height: 88px;
  border-width: 4px;
  border-radius: 50%;
}
button.btn--bigaction:focus {
  outline: unset;
  background-color: rgba(255, 102, 102, 0.5);
  border-width: 6px;
}

.clock {
  color: #0087bd;
  font-size: 18pt;
  font-weight: 700;
  text-align: center;
  height: 100%;
}


.instructions {
  font-weight: 300;
  font-size: 10pt;
  font-style: italic;
  float: left;
  color: white;
  padding: 12px;
  vertical-align: middle;
}

.protoui {
  border: 1px solid white;
}
